MODULASSO_DOMAINE=rfaupin-dev.online
MODULASSO_CHEMIN=/modulasso
MODULASSO_ACCES_WEB=auth@docker

APP_ENV=prod
APP_DEBUG=0
APP_SECRET_FILE=/run/secrets/app_secret
API_PORT=8080
API_URL=http://api:8080
API_DEFAULT_URI=http://api:8080
WEB_PORT=3000

DB_HOST=db
DB_PORT=5432
DB_NAME=modulasso
DB_SUPERUSER=postgres
DB_OWNER_USER=modulasso_owner
DB_APP_USER=modulasso_app
DB_STATS_USER=modulasso_stats

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=modulasso
RABBITMQ_USER=modulasso
